<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>hello_world</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <h1 style="color:red">hola
        {% if user.is_authenticated %}
            <h3>{{ user.username }} | <a href="{% url "products:logout" %}">Logout</a></h3>
        {% else %}
            <a href="{% url "products:autentication" %}">Login</a>
        {% endif %}
    </h1>
    <a href="{% url "products:new_product" %}">New Product</a>
    <ul>
        {% for pr in object_list %}
            <li>
              <a href="{% url "products:product_detail" pr.id %}">{{ pr.name }} </a>
              |
              {{ pr.description }}
              <img src="{{ pr.image.url }}" alt="">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
