{% extends "base.html" %}

{% block content %}
 <h1>Hola!!</h1>


 <h2>
    {% if user.is_authenticated %}
        <a href="{% url 'userprofiles:logout' %}">logout</a>
        {{ user.username }}
    {% else %}
        <a href="{% url 'userprofiles:authentication' %}">Login</a>
    {% endif %}
 </h2>
{% endblock %}
