{% extends "base.html" %}

{% block page_title %}
    Login
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <form class="" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="login">
        <input type="text" name="username" value="">
        <input type="text" name="password" value="">
        <button type="submit" name="button">login</button>
    </form>
    <h1>Singup</h1>
    <form class="" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="singup">
        <input type="text" name="username" value="">
        <input type="text" name="password" value="">
        <button type="submit" name="button">singup</button>
    </form>
{% endblock %}
