<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>hello_world</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <h1 style="color:red">hola</h1>
    <a href="{% url 'new_product' %}">New Product</a>
    <ul>
        {% for pr in products %}
            <li>
              <a href="{% url 'product_detail' pk=pr.pk %}">{{ pr.name }} </a>
              |
              {{ pr.description }}
              <img src="{{ pr.image.url }}" alt="">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
