{% extends "base.html" %}

{% block page_title %}
    New article
{% endblock %}

{% block content %}
    <h1>New article</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="button">Submit</button>
    </form>
{% endblock %}
