{% extends "base.html" %}

{% block page_title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <h2>{{ product.description }}</h2>
    <p>{{ product.category }} |
       {{ product.price }}
    </p>
    <img src="{{ product.image.url }}" alt="">
{% endblock %}
