<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}</title>
  </head>
  <body>
    <header>
        hola
    </header>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        el footer
    </footer>
  </body>
</html>
