{% extends "base.html" %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if gatos %}
        <h1>Si hay gatos </h1>
        <ul>
          {% for gato in gatos %}
              <li>{{ gato.name }} | {{ gato.patas }}</li>
          {% endfor %}
        </ul>
    {% else %}
        <h1>No hay gatos</h1>
    {% endif %}
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> {{ title }} </title>
</head>
<body>
    {% if gatos %}
        <h1>Si hay gatos </h1>
        <ul>
          {% for gato in gatos %}
              <li>{{ gato.name }} | {{ gato.patas }}</li>
          {% endfor %}
        </ul>
    {% else %}
        <h1>No hay gatos</h1>
    {% endif %}
</body>
</html>
-->
